[alias]
    co = checkout
    st = status
    ci = commit -v
    lgg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %C(cyan)%G?%C(dim white) %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %C(cyan)%G?%C(dim white) %an%C(reset)%C(bold yellow)%d%C(reset)' --first-parent -10
    br = branch
    au = add -u
    sup = submodule update --init --recursive
    puf = push --force-with-lease
[push]
    default = current
[pull]
    rebase = true
    ff = only
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[fetch]
    prune = true
[commit]
    gpgsign = true
[gpg]
    format = ssh
    program = gpg
[merge]
    ff = false
[rebase]
    autoStash = true
[init]
    defaultBranch = main
[branch]
    sort = -committerdate
